body {
  background-color: #006B96;
  background: -webkit-linear-gradient(315deg, #006B96 0%, #006B96 30%, #00b6ff 100%) fixed;
  background: linear-gradient(135deg, #006B96 0%, #006B96 30%, #00b6ff 100%) fixed;
  margin: 0 auto;
  display: block;
}

#logo {
  margin: 0 auto;
  display: block;
}

input {
  border-radius: 5px;
  background-color: #fff;
  border-style: solid;
  border-color: #fafafa;
  margin-bottom: 15px;
  margin-top: 15px;
}

button {
  padding: 5px;
  border-radius: 5px;
  border-style: solid;
  background-color: #fff;
  border-color: #fafafa;
}

#header {
  padding: 15px;
}

#content {
  margin: 0 auto;
}

#footer {
  position: absolute;
  padding-bottom: 5px;
  bottom: 0px;
  left: 0;
  text-align: center;
  width: 100%;
}


@media only screen and (max-width: 500px) {
  #logo { width: 50%; }
  #content { width: 80%; }
  input {
    width: 50%;
    padding: 5px;
  }
  
}

@media only screen and (min-width: 501px) {
  input {
    padding: 10px;
    font-size: large;
  }
  #logo { width: 30% }
  #content { width: 60% }
  
}
