@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-color: #006B96;
  background: -webkit-linear-gradient(315deg, #006B96 0%, #006B96 30%, #00b6ff 100%) fixed;
  background: linear-gradient(135deg, #006B96 0%, #006B96 30%, #00b6ff 100%) fixed;
  margin: 0 auto;
  display: block;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

a { color: #fafafa; text-decoration: none; }
a:hover { text-decoration: underline; }

#logo {
  margin: 0 auto;
  display: block;
}

input, button {
  border-radius: 5px;
  background-color: #fff;
  border-style: solid;
  border-color: #fafafa;
  margin-top: 15px;
  width: 100%
}

input { box-sizing: border-box; }

#header {
  padding: 15px;
}

#content {
  margin: 0 auto;
}

#footer {
  position: absolute;
  padding-bottom: 5px;
  bottom: 0px;
  left: 0;
  text-align: center;
  width: 100%;
}


@media only screen and (max-width: 650px) {
  #logo { width: 50%; }
  #content { width: 80%; }
  input, button {
    padding: 5px;
  }
}

@media only screen and (min-width: 650px) {
  input, button {
    padding: 10px;
    font-size: large;
    margin-bottom: 15px;
  }
  #logo { width: 30% }
  #content { width: 60% }
}
