{% extends 'layout/default.html.j2' %}

{% block content %}
{% if error %}
    <p><b>ERROR:</b> {{ error }}</p>
{% endif %}

{% if new_link %}
    <p><b>Link created:</b> <a href="/{{ new_link }}">https://fastl.ink/{{ new_link }}</a></p>
    <button class="btn" data-clipboard-text="{{ new_link }}">
        Copy link
    </button>
{% endif %}

<form action='/' method='POST'>
    <input id='link' name='link' placeholder='Shorten a link...' />
    <button type='submit'>Create Shortlink</button>
</form>

{% endblock %}
