{% extends 'layout/default.html.j2' %}

{% block content %}
{% if error %}
    <p><b>ERROR:</b> {{ error }}</p>
{% endif %}

{% if new_link %}
    <p><b>Link created:</b> <a href="/{{ new_link }}">https://fastl.ink/{{ new_link }}</a>
    <button class="btn" data-clipboard-text="{{ new_link }}">
        Copy link
    </button>
    </p>
    
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.7.1/dist/clipboard.min.js"></script>
    <script>
    var btn = document.getElementById('btn');
    var clipboard = new Clipboard(btn);
    
    clipboard.on('success', function(e) {
        btn.value = 'Copied!'
    });

    </script>
{% endif %}

<form action='/' method='POST'>
    <input id='link' name='link' placeholder='Shorten a link...' />
    <button type='submit'>Create Shortlink</button>
</form>

{% endblock %}
