<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <title>{% block title %}{% endblock %}fastl.ink - Short URLs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="fastl.ink - Quick &amp; simple short URLs">
    <meta name="keywords" content="short,URL,URLs,links,link,shortlink,shortener">
    {% endblock %}
</head>
<body>
    <div id="header">
        <a href="/"><div id="logo"><img id="logo" src="/static/logo.svg" /></div></a>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
        <div align="center">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- fastl.ink footer ad -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-8481113276362946"
                 data-ad-slot="3653465638"
                 data-ad-format="auto">
             </ins>
             &copy; Copyright 2017 by <a href="http://lingren.co/">Harrison Lingren</a>
        </div>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-106055055-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
