<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    
    <script>
        var x = new Date()
        x = x.getTime()
        var link = document.createElement( "link" );
        link.href = '/static/style.css?'+ x
        link.rel = 'stylesheet'
        link.type = 'text/css'
        document.getElementsByTagName( "head" )[0].appendChild( link );
    </script>
    
    <title>{% block title %}{% endblock %}fastl.ink</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
</head>
<body>
    <div id="header">
        <script>
            var x = new Date()
            x = x.getTime()
            var logo = document.createElement( "img" );
            logo.src = '/static/logo.svg?'+ x
            logo.id = 'logo'
            document.getElementById( "header" ).appendChild( logo );
        </script>
        
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2017 by <a href="http://lingren.co/">Harrison Lingren</a>
        {% endblock %}
    </div>
</body>
</html>
