<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %}fastl.ink</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2017 by <a href="http://lingren.co/">Harrison Lingren</a>.
        {% endblock %}
    </div>
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.7.1/dist/clipboard.min.js"></script>
</body>
</html>
