<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>{% block title %}{% endblock %}fastl.ink</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
</head>
<body>
    <div id="header">
        <img id="logo" src={{ url_for('static', filename='logo.svg') }} />
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2017 by <a href="http://lingren.co/">Harrison Lingren</a>.
        {% endblock %}
    </div>
</body>
</html>
